@{
    ViewBag.Title = "Error404";
}

<h2 class="title">Page not found</h2>
<br />
<div class="mainBox">
    <p style="width: 640px; margin: auto; color: white; font-size: 40px; text-align: center">
        Sorry!
    </p>
    <br />
    <p style="width: 640px; margin: auto; color: white; font-size: 20px; text-align: center">
        The page you were looking does not exist.
    </p>
    <br />
    <p style="width: 640px; margin: auto; color: white; text-align: justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <div style="width: 100px; margin: 20px auto;">
        @Html.ActionLink("Home", "index", "Home", routeValues: null, htmlAttributes: new { @class = "button home" })
    </div>
    <div class="clear"></div>
</div>
