/* eis theme */

.eis .button,
.eis .bg,
.eis > span.bg,
.eis .btn,
.eis .toolNav li a,
.eis .imgLink,
.eis .k-slider-selection,
.eis .k-state-selected.k-state-focused{
	background-color:#3090d1;
}
.eis a{color:#3090d1;}

.eis .k-state-active,
.eis .k-state-active:hover,
.eis .k-active-filter,
.eis .k-tiles li.k-state-selected{
	border-color: #3090d1;
}

.eis .k-state-selected,
.eis .k-list > .k-state-selected,
.eis .k-list > .k-state-focused,
.eis .k-panelbar > .k-state-selected,
.eis .k-panel > .k-state-selected,
.eis .k-button:active,
.eis .k-ghost-splitbar-vertical,
.eis .k-ghost-splitbar-horizontal,
.eis .k-draghandle.k-state-selected:hover,
.eis .k-tooltip{
	background-color: #3090d1;
	border-color: #3090d1;
}


/* blue*/
.blue .button,
.blue .bg,
.blue > span.bg,
.blue .toolNav li a,
.blue .btn,
.blue .imgLink,
.blue .k-slider-selection,
.blue .k-state-selected.k-state-focused{
	background-color:#2c539e;
}
.blue a{color:#2c539e;}

.blue .k-state-active,
.blue .k-state-active:hover,
.blue .k-active-filter,
.blue .k-tiles li.k-state-selected{
	border-color:#2c539e;
}

.blue .k-state-selected,
.blue .k-list > .k-state-selected,
.blue .k-list > .k-state-focused,
.blue .k-panelbar > .k-state-selected,
.blue .k-panel > .k-state-selected,
.blue .k-button:active,
.blue .k-ghost-splitbar-vertical,
.blue .k-ghost-splitbar-horizontal,
.blue .k-draghandle.k-state-selected:hover,
.blue .k-tooltip{
	background-color:#2c539e;
	border-color:#2c539e;
}


/* skyblue*/
.skyskyblue .button,
.skyblue .bg,
.skyblue > span.bg,
.skyblue .toolNav li a,
.skyblue .btn,
.skyblue .imgLink,
.skyblue .k-slider-selection,
.skyblue .k-state-selected.k-state-focused{
	background-color:#00bfff;
}
.skyblue a{color:#00bfff;}

.skyblue .k-state-active,
.skyblue .k-state-active:hover,
.skyblue .k-active-filter,
.skyblue .k-tiles li.k-state-selected{
	border-color:#00bfff;
}

.skyblue .k-state-selected,
.skyblue .k-list > .k-state-selected,
.skyblue .k-list > .k-state-focused,
.skyblue .k-panelbar > .k-state-selected,
.skyblue .k-panel > .k-state-selected,
.skyblue .k-button:active,
.skyblue .k-ghost-splitbar-vertical,
.skyblue .k-ghost-splitbar-horizontal,
.skyblue .k-draghandle.k-state-selected:hover,
.skyblue .k-tooltip{
	background-color:#00bfff;
	border-color:#00bfff;
}

/* cyan */
.cyan .button,
.cyan .bg,
.cyan > span.bg,
.cyan .toolNav li a,
.cyan .btn,
.cyan .imgLink,
.cyan .k-slider-selection,
.cyan .k-state-selected.k-state-focused{
	background-color:#04ded6;
}
.cyan a{color:#04ded6;}

.cyan .k-state-active,
.cyan .k-state-active:hover,
.cyan .k-active-filter,
.cyan .k-tiles li.k-state-selected{
	border-color:#04ded6;
}

.cyan .k-state-selected,
.cyan .k-list > .k-state-selected,
.cyan .k-list > .k-state-focused,
.cyan .k-panelbar > .k-state-selected,
.cyan .k-panel > .k-state-selected,
.cyan .k-button:active,
.cyan .k-ghost-splitbar-vertical,
.cyan .k-ghost-splitbar-horizontal,
.cyan .k-draghandle.k-state-selected:hover,
.cyan .k-tooltip{
	background-color:#04ded6;
	border-color:#04ded6;
}

/* purple */
.purple .button,
.purple .bg,
.purple > span.bg,
.purple .toolNav li a,
.purple .btn,
.purple .imgLink,
.purple .k-slider-selection,
.purple .k-state-selected.k-state-focused{
	background-color:#8a0c99;
}
.purple a{color:#CF11E0;}

.purple .k-state-active,
.purple .k-state-active:hover,
.purple .k-active-filter,
.purple .k-tiles li.k-state-selected{
	border-color:#8a0c99;
}

.purple .k-state-selected,
.purple .k-list > .k-state-selected,
.purple .k-list > .k-state-focused,
.purple .k-panelbar > .k-state-selected,
.purple .k-panel > .k-state-selected,
.purple .k-button:active,
.purple .k-ghost-splitbar-vertical,
.purple .k-ghost-splitbar-horizontal,
.purple .k-draghandle.k-state-selected:hover,
.purple .k-tooltip{
	background-color:#8a0c99;
	border-color:#8a0c99;
}

/* green */
.green .button,
.green .bg,
.green > span.bg,
.green .toolNav li a,
.green .btn,
.green .imgLink,
.green .k-slider-selection,
.green .k-state-selected.k-state-focused{
	background-color:#258A33;
}
.green a{color:#8ebc00;}

.green .k-state-active,
.green .k-state-active:hover,
.green .k-active-filter,
.green .k-tiles li.k-state-selected{
	border-color:#258A33;
}

.green .k-state-selected,
.green .k-list > .k-state-selected,
.green .k-list > .k-state-focused,
.green .k-panelbar > .k-state-selected,
.green .k-panel > .k-state-selected,
.green .k-button:active,
.green .k-ghost-splitbar-vertical,
.green .k-ghost-splitbar-horizontal,
.green .k-draghandle.k-state-selected:hover,
.green .k-tooltip{
	background-color:#258A33;
	border-color:#258A33;
}

/* yellowgreen */
.yellowgreen .button,
.yellowgreen .bg,
.yellowgreen > span.bg,
.yellowgreen .toolNav li a,
.yellowgreen .btn,
.yellowgreen .imgLink,
.yellowgreen .k-slider-selection,
.yellowgreen .k-state-selected.k-state-focused{
	background-color:#96ae0e;
}
.yellowgreen  a{color:#96ae0e;}

.yellowgreen  .k-state-active,
.yellowgreen  .k-state-active:hover,
.yellowgreen  .k-active-filter,
.yellowgreen  .k-tiles li.k-state-selected{
	border-color:#96ae0e;
}

.yellowgreen  .k-state-selected,
.yellowgreen  .k-list > .k-state-selected,
.yellowgreen  .k-list > .k-state-focused,
.yellowgreen  .k-panelbar > .k-state-selected,
.yellowgreen  .k-panel > .k-state-selected,
.yellowgreen  .k-button:active,
.yellowgreen  .k-ghost-splitbar-vertical,
.yellowgreen  .k-ghost-splitbar-horizontal,
.yellowgreen  .k-draghandle.k-state-selected:hover,
.yellowgreen  .k-tooltip{
	background-color:#96ae0e;
	border-color:#96ae0e;
}

/* yellow */
.yellow .button,
.yellow .bg,
.yellow > span.bg,
.yellow .toolNav li a,
.yellow .btn,
.yellow .imgLink,
.yellow .k-slider-selection,
.yellow .k-state-selected.k-state-focused{
	background-color:#ffa800;
}
.yellow  a{color:#ffa800;}

.yellow  .k-state-active,
.yellow  .k-state-active:hover,
.yellow  .k-active-filter,
.yellow  .k-tiles li.k-state-selected{
	border-color:#ffa800;
}

.yellow  .k-state-selected,
.yellow  .k-list > .k-state-selected,
.yellow  .k-list > .k-state-focused,
.yellow  .k-panelbar > .k-state-selected,
.yellow  .k-panel > .k-state-selected,
.yellow  .k-button:active,
.yellow  .k-ghost-splitbar-vertical,
.yellow  .k-ghost-splitbar-horizontal,
.yellow  .k-draghandle.k-state-selected:hover,
.yellow  .k-tooltip{
	background-color:#ffa800;
	border-color:#ffa800;
}

/* orange */
.orange .button,
.orange .bg,
.orange > span.bg,
.orange .toolNav li a,
.orange .btn,
.orange .imgLink,
.orange .k-slider-selection,
.orange .k-state-selected.k-state-focused{
	background-color:#ff7e00;
}
.orange  a{color:#ff7e00;}

.orange  .k-state-active,
.orange  .k-state-active:hover,
.orange  .k-active-filter,
.orange  .k-tiles li.k-state-selected{
	border-color:#ff7e00;
}

.orange  .k-state-selected,
.orange  .k-list > .k-state-selected,
.orange  .k-list > .k-state-focused,
.orange  .k-panelbar > .k-state-selected,
.orange  .k-panel > .k-state-selected,
.orange  .k-button:active,
.orange  .k-ghost-splitbar-vertical,
.orange  .k-ghost-splitbar-horizontal,
.orange  .k-draghandle.k-state-selected:hover,
.orange  .k-tooltip{
	background-color:#ff7e00;
	border-color:#ff7e00;
}

/* red */
.red .button,
.red .bg,
.red > span.bg,
.red .toolNav li a,
.red .btn,
.red .imgLink,
.red .k-slider-selection,
.red .k-state-selected.k-state-focused{
	background-color:#ff0000;
}
.red  a{color:#ff0000;}

.red  .k-state-active,
.red  .k-state-active:hover,
.red  .k-active-filter,
.red  .k-tiles li.k-state-selected{
	border-color:#ff0000;
}

.red  .k-state-selected,
.red  .k-list > .k-state-selected,
.red  .k-list > .k-state-focused,
.red  .k-panelbar > .k-state-selected,
.red  .k-panel > .k-state-selected,
.red  .k-button:active,
.red  .k-ghost-splitbar-vertical,
.red  .k-ghost-splitbar-horizontal,
.red  .k-draghandle.k-state-selected:hover,
.red  .k-tooltip{
	background-color:#ff0000;
	border-color:#ff0000;
}

/* brown */
.brown .button,
.brown .bg,
.brown > span.bg,
.brown .toolNav li a,
.brown .btn,
.brown .imgLink,
.brown .k-slider-selection,
.brown .k-state-selected.k-state-focused{
	background-color:#9d5e03;
}
.brown  a{color:#CE7D04;}

.brown  .k-state-active,
.brown  .k-state-active:hover,
.brown  .k-active-filter,
.brown  .k-tiles li.k-state-selected{
	border-color:#9d5e03;
}

.brown  .k-state-selected,
.brown  .k-list > .k-state-selected,
.brown  .k-list > .k-state-focused,
.brown  .k-panelbar > .k-state-selected,
.brown  .k-panel > .k-state-selected,
.brown  .k-button:active,
.brown  .k-ghost-splitbar-vertical,
.brown  .k-ghost-splitbar-horizontal,
.brown  .k-draghandle.k-state-selected:hover,
.brown  .k-tooltip{
	background-color:#9d5e03;
	border-color:#9d5e03;
}

/* wood */
.wood .button,
.wood .bg,
.wood > span.bg,
.wood .toolNav li a,
.wood .btn,
.wood .imgLink,
.wood .k-slider-selection,
.wood .k-state-selected.k-state-focused{
	background-color:#6b3f00;
}
.wood  a{color:#CE7D04;}

.wood  .k-state-active,
.wood  .k-state-active:hover,
.wood  .k-active-filter,
.wood  .k-tiles li.k-state-selected{
	border-color:#6b3f00;
}

.wood  .k-state-selected,
.wood  .k-list > .k-state-selected,
.wood  .k-list > .k-state-focused,
.wood  .k-panelbar > .k-state-selected,
.wood  .k-panel > .k-state-selected,
.wood  .k-button:active,
.wood  .k-ghost-splitbar-vertical,
.wood  .k-ghost-splitbar-horizontal,
.wood  .k-draghandle.k-state-selected:hover,
.wood  .k-tooltip{
	background-color:#6b3f00;
	border-color:#6b3f00;
}

/* scarlet */
.scarlet .button,
.scarlet .bg,
.scarlet > span.bg,
.scarlet .toolNav li a,
.scarlet .btn,
.scarlet .imgLink,
.scarlet .k-slider-selection,
.scarlet .k-state-selected.k-state-focused{
	background-color:#af0000;
}
.scarlet  a{color:#DB1900;}

.scarlet  .k-state-active,
.scarlet  .k-state-active:hover,
.scarlet  .k-active-filter,
.scarlet  .k-tiles li.k-state-selected{
	border-color:#af0000;
}

.scarlet  .k-state-selected,
.scarlet  .k-list > .k-state-selected,
.scarlet  .k-list > .k-state-focused,
.scarlet  .k-panelbar > .k-state-selected,
.scarlet  .k-panel > .k-state-selected,
.scarlet  .k-button:active,
.scarlet  .k-ghost-splitbar-vertical,
.scarlet  .k-ghost-splitbar-horizontal,
.scarlet  .k-draghandle.k-state-selected:hover,
.scarlet  .k-tooltip{
	background-color:#af0000;
	border-color:#af0000;
}

/* magenta */
.magenta .button,
.magenta .bg,
.magenta > span.bg,
.magenta .toolNav li a,
.magenta .btn,
.magenta .imgLink,
.magenta .k-slider-selection,
.magenta .k-state-selected.k-state-focused{
	background-color:#f32daf;
}
.magenta  a{color:#f32daf;}

.magenta  .k-state-active,
.magenta  .k-state-active:hover,
.magenta  .k-active-filter,
.magenta  .k-tiles li.k-state-selected{
	border-color:#f32daf;
}

.magenta  .k-state-selected,
.magenta  .k-list > .k-state-selected,
.magenta  .k-list > .k-state-focused,
.magenta  .k-panelbar > .k-state-selected,
.magenta  .k-panel > .k-state-selected,
.magenta  .k-button:active,
.magenta  .k-ghost-splitbar-vertical,
.magenta  .k-ghost-splitbar-horizontal,
.magenta  .k-draghandle.k-state-selected:hover,
.magenta  .k-tooltip{
	background-color:#f32daf;
	border-color:#f32daf;
}

/* orchid */
.orchid .button,
.orchid .bg,
.orchid > span.bg,
.orchid .toolNav li a,
.orchid .btn,
.orchid .imgLink,
.orchid .k-slider-selection,
.orchid .k-state-selected.k-state-focused{
	background-color:#ff0042;
}
.orchid  a{color:#ff0042;}

.orchid  .k-state-active,
.orchid  .k-state-active:hover,
.orchid  .k-active-filter,
.orchid  .k-tiles li.k-state-selected{
	border-color:#ff0042;
}

.orchid  .k-state-selected,
.orchid  .k-list > .k-state-selected,
.orchid  .k-list > .k-state-focused,
.orchid  .k-panelbar > .k-state-selected,
.orchid  .k-panel > .k-state-selected,
.orchid  .k-button:active,
.orchid  .k-ghost-splitbar-vertical,
.orchid  .k-ghost-splitbar-horizontal,
.orchid  .k-draghandle.k-state-selected:hover,
.orchid  .k-tooltip{
	background-color:#ff0042;
	border-color:#ff0042;
}

/* pink */
.pink .button,
.pink .bg,
.pink > span.bg,
.pink .toolNav li a,
.pink .btn,
.pink .imgLink,
.pink .k-slider-selection,
.pink .k-state-selected.k-state-focused{
	background-color:#ff628b;
}
.pink  a{color:#ff628b;}

.pink  .k-state-active,
.pink  .k-state-active:hover,
.pink  .k-active-filter,
.pink  .k-tiles li.k-state-selected{
	border-color:#ff628b;
}

.pink  .k-state-selected,
.pink  .k-list > .k-state-selected,
.pink  .k-list > .k-state-focused,
.pink  .k-panelbar > .k-state-selected,
.pink  .k-panel > .k-state-selected,
.pink  .k-button:active,
.pink  .k-ghost-splitbar-vertical,
.pink  .k-ghost-splitbar-horizontal,
.pink  .k-draghandle.k-state-selected:hover,
.pink  .k-tooltip{
	background-color:#ff628b;
	border-color:#ff628b;
}

/* gray */
.gray .button,
.gray .bg,
.gray > span.bg,
.gray .toolNav li a,
.gray .btn,
.gray .imgLink,
.gray .k-slider-selection,
.gray .k-state-selected.k-state-focused{
	background-color:#a5a5a5;
}
.gray  a{color:#a5a5a5;}

.gray  .k-state-active,
.gray  .k-state-active:hover,
.gray  .k-active-filter,
.gray  .k-tiles li.k-state-selected{
	border-color:#a5a5a5;
}

.gray  .k-state-selected,
.gray  .k-list > .k-state-selected,
.gray  .k-list > .k-state-focused,
.gray  .k-panelbar > .k-state-selected,
.gray  .k-panel > .k-state-selected,
.gray  .k-button:active,
.gray  .k-ghost-splitbar-vertical,
.gray  .k-ghost-splitbar-horizontal,
.gray  .k-draghandle.k-state-selected:hover,
.gray  .k-tooltip{
	background-color:#a5a5a5;
	border-color:#a5a5a5;
}

/* black */
.black .button,
.black .bg,
.black > span.bg,
.black .toolNav li a,
.black .btn,
.black .imgLink,
.black .k-slider-selection,
.black .k-state-selected.k-state-focused{
	background-color:#353434;
}
.black  a{color:#fff;}

.black  .k-state-active,
.black  .k-state-active:hover,
.black  .k-active-filter,
.black  .k-tiles li.k-state-selected{
	border-color:#353434;
}

.black  .k-state-selected,
.black  .k-list > .k-state-selected,
.black  .k-list > .k-state-focused,
.black  .k-panelbar > .k-state-selected,
.black  .k-panel > .k-state-selected,
.black  .k-button:active,
.black  .k-ghost-splitbar-vertical,
.black  .k-ghost-splitbar-horizontal,
.black  .k-draghandle.k-state-selected:hover,
.black  .k-tooltip{
	background-color:#353434;
	border-color:#353434;
}


/* teal */
.teal .button,
.teal .bg,
.teal > span.bg,
.teal .toolNav li a,
.teal .btn,
.teal .imgLink,
.teal .k-slider-selection,
.teal .k-state-selected.k-state-focused{
	background-color:#006975;
}
.teal  a{color:#00AFAF;}

.teal  .k-state-active,
.teal  .k-state-active:hover,
.teal  .k-active-filter,
.teal  .k-tiles li.k-state-selected{
	border-color:#006975;
}

.teal  .k-state-selected,
.teal  .k-list > .k-state-selected,
.teal  .k-list > .k-state-focused,
.teal  .k-panelbar > .k-state-selected,
.teal  .k-panel > .k-state-selected,
.teal  .k-button:active,
.teal  .k-ghost-splitbar-vertical,
.teal  .k-ghost-splitbar-horizontal,
.teal  .k-draghandle.k-state-selected:hover,
.teal  .k-tooltip{
	background-color:#006975;
	border-color:#006975;
}












































