/* INTERNAL PAGES TITLE STARTS */
body{
	/*background-image:url(../images/samples/sample_bg.jpg);*/
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#Top{
	background:rgba(0, 0, 0, .6);
	color:#fff;
}

header .globalNav li{
	color:#fff;
}

header .iconsNav li#SearchLi{
	display:none;
}

h2.titleText{
    padding:0 0 20px 0;
	    line-height:40px;
	    margin-bottom:10px !important;
	    color:#525a5f;
	    border-bottom:1px solid #525a5f;
}

/* TOOLNAV STARTS */

.toolNav{
	background:#f2f2f2;
	height:0px;
	overflow:hidden;
	width:100%;
	padding:1px 0 0 0;
	
	transition:height 0.3s ease-in-out;
	-moz-transition:height 0.3s ease-in-out;
	-webkit-transition:height 0.3s ease-in-out;
	-o-transition:height 0.3s ease-in-out;
	
	/*transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;*/
}

#toolsBarButton a{
	background-image:url(../images/tools/general_tools.png);
	background-repeat:no-repeat;
	background-position:-120px 0px;
}

#toolsBarButton.selected a{
	background-position:-120px -30px;
}

.toolOpen{
	height:31px;
    padding:4px 0 3px 0;
}
.toolClose{
	height:10px;
}

.toolNav li{
	float:right;
	margin:0 10px 0 0;
}

.toolNav li a{
	display:block;
	width:30px;
	height:30px;
	text-indent:-9999px;
	cursor:pointer;
}

.toolNav li.focus a{
	background-image:url(../images/tools/general_tools.png);
	background-position:0 0;
	background-repeat:no-repeat;
}

.toolNav li.focus a.selected{
	background-position:0 -30px;
}

/* TOOLNAV SEARCH ICON */

header .iconsNav li a{
	display:block;
    white-space: nowrap;
}

.toolNav li#SearchLi2{
	overflow:hidden;
	position:relative;
	height:40px;
	
	transition:width 0.5s ease-in-out;
	-moz-transition:width 0.5s ease-in-out;
	-webkit-transition:width 0.5s ease-in-out;
	-o-transition:width 0.5s ease-in-out;
}

.toolNav li.searchOpen a,
.toolNav li#SearchLi2 a:hover{
	background-color:#999;
}

.toolNav li#SearchLi2 a{
	display:block;
	background-image:url(../images/tools/general_tools.png);
	background-position:-30px 0;
	background-repeat:no-repeat;
	width:30px;
	height:30px;
	text-indent:-9999px;
	position:absolute;
	top:0;
	right:0;
	z-index:2;
}

.toolNav li#SearchLi2 input {
	float:left;
	height:20px;
	line-height:20px;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	width:150px;
	padding:5px 5px 5px 5px;
	background-color: rgba(0,0,0,0.6);
    color:#fff;
	z-index:1;
}

.toolNav li.searchClose{
	width:30px;
}

.toolNav li.searchOpen{
	width:190px;
}

/* TOOLNAV ENDS */


#Main{
	width:100%;
	height:100%;
	padding:0 0 0 0;/*0 0 40px 0*/
	
}

.mainHolder{
	width:84%;
	padding:0 0 0 0;
	
	-moz-box-shadow: 	10000px 10000px 0 10000px #fff;
	-webkit-box-shadow: 10000px 10000px 0 10000px #fff;
	box-shadow: 		10000px 10000px 0 10000px #fff;
	
	-moz-transition: width 0.3s ease-out;
	-webkit-transition: width 0.3s ease-out;
	-o-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}

section .centerContent{
	margin:0 auto;
	width:100%;
	float:right;
}

.contentHolder{
    background:#FFF;
     padding:10px 10px 50px 10px;
	}
	
section .centerContent{
     margin:0 auto;
     width:100%;
     float:right;
}

.rightContent{
	float:right;
}


/* SIDE HOLDER STARTS */

.sideHolder{
	width:15%;
	float:left;
	padding:0;
    overflow:hidden;
	-moz-box-shadow: 	-10000px 10000px 0 10000px #f2f2f2;
	-webkit-box-shadow: -10000px 10000px 0 10000px #f2f2f2;
	box-shadow: 		-10000px 10000px 0 10000px #f2f2f2;
	
	-moz-transition: width 0.3s ease-out;
	-webkit-transition: width 0.3s ease-out;
	-o-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}

#Main .sideSmall{
	width:0%;
	
	padding:0;
	margin:0;
}

.sideHolder ul{
	background:rgba(0,0,0,0.6);
}

.sideHolder li{
	white-space:nowrap;
}

.sideHolder li a{
	padding:0;
	display:block;
	color:#292626;
	background:#f2f2f2;
	line-height:20px;
	padding:10px;
	margin:0 0 0 0;
}

.sideHolder li a:hover,
.sideHolder li.selected a{
	background:none;
	color:#FFF;
}

.show {
	height:90px;
}

.show h3{
	text-indent:-9999px;
}

.companies{
	background-image:url(../images/icons/icon_companies.png);
	background-position:center;
	background-repeat:no-repeat;
}

/* SIDE HOLDER ENDS */




.mainInfo {
	padding:10px;
	background-color:#FFF;
}

header.title {
	overflow:hidden;
	padding:10px;
	background:rgba(0,0,0,0.6);
}

header.title h2{
	float:left;
	font-size:25px;
	line-height:25px;
	color:#FFF;
}

.backNav {
	float:left;
	overflow:hidden;
	padding-right:10px;
}

.backNav li{
	padding:0 20px 0 0;
    float:left;
}

.backNav li a{
	font-family:'Segoe UI', 'Segoe condensed' sans-serif;
	font-size:25px;
	color:#999;
}

.backNav li:nth-last-child(1) a,
.backNav li a:hover{
	color:#FFF;
}


.relNav{
	overflow:hidden;
	float:right;
}

.relNav li{
	line-height:30px;
	width:30px;
	overflow:hidden;
	float:left;
	margin-left:10px;
	text-align:right;
    white-space: nowrap;
	
	transition:width 0.5s ease-in-out;
	-moz-transition:width 0.5s ease-in-out; /* Firefox 4 */
	-webkit-transition:width 0.5s ease-in-out; /* Safari and Chrome */
	-o-transition:width 0.5s ease-in-out; /* Opera */
}

.relNav li.newCompany:hover { /* hover states to show texts*/
	width:140px;
}

.relNav li.deleteCompany:hover { /* hover states to show texts*/
	width:150px;
}



.relNav li a {
	display:block;
	text-align:left;
	height:30px;
	position:relative;
	overflow:hidden;
	padding-right:30px;
	color:#FFF;
	cursor:pointer;
}

.relNav li a:hover{
	width:auto;
}

.icon{
	position:absolute;
	right:0;
	top:0;
	z-index:5;
	display:inline-block;
	width:30px;
	height:30px;
	text-indent:-9999px;
}




/* INTERNAL PAGES TITLE ENDS */










































