<!-- BEGIN Maintenance -->
<li menu-option="maintenance" class="hide">
    <ul class="subMenuOpt">
        <li><a href="#" class="optTitle">Inicio/Mantenimiento</a></li>
        <li class="optList">
            <div class="opt">
                <a href="@Url.Action("index", "School", routeValues: null)">
                    <div style="background-image: url('Content/images/icons/school.png');">
                        <ul>
                            <li>
                                <span>Escuelas</span>
                            </li>
                            <li>
                                <p>Esta opción permite listar, agregar, modificar y eliminar una escuela</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        <li class="optList">
            <div class="opt">
                <a href="@Url.Action("index", "Classroom", routeValues: null)">
                    <div style="background-image: url('Content/images/icons/aulas.png');">
                        <ul>
                            <li>
                                <span>Aulas</span>
                            </li>
                            <li>
                                <p>Esta opción permite listar, agregar, modificar y eliminar un aula o espacio donde se imparte </p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        <li class="optList">
            <div class="opt">
                <a href="@Url.Action("index", "Location", routeValues: null)">
                    <div style="background-image: url('Content/images/icons/place.png');">
                        <ul>
                            <li>
                                <span>Lugares Físicos</span>
                            </li>
                            <li>
                                <p>Esta opción permite listar, agregar, modificar y eliminar un lugar físico o geográfico</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        <li class="optList">
            <div class="opt">
                <a href="#">
                    <div style="background-image: url('Content/images/icons/category.png');">
                        <ul>
                            <li>
                                <span>Tipos de Modalidad</span>
                            </li>
                            <li>
                                <p>Esta opción permite listar, agregar, modificar y eliminar los tipos de modalidades</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        <li class="optList">
            <div class="opt">
                <a href="#">
                    <div style="background-image: url('Content/images/icons/tipos_requisitos.png');">
                        <ul>
                            <li>
                                <span>Tipos de Requisitos</span>
                            </li>
                            <li>
                                <p>Esta opción permite listar, agregar, modificar y eliminar los tipos de requisitos</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        <li class="optList">
            <div class="opt">
                <a href="#">
                    <div style="background-image: url('Content/images/icons/user_man.png');">
                        <ul>
                            <li>
                                <span>Usuarios</span>
                            </li>
                            <li>
                                <p>Esta opción permite listar, agregar, modificar y eliminar usuarios del sistema. </p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>

    </ul>
</li>
<!-- END Maintenance -->
