<!-- BEGIN notes -->
<li menu-option="notes" class="hide">
    <ul class="subMenuOpt">
        <li><a href="#" class="optTitle">Inicio/Registro de notas</a></li>
        <li class="optList">
            <div class="opt">
                <a href="#">
                    <div style="background-image: url('Content/images/icons/edit_notes.png');">
                        <ul>
                            <li>
                                <span>Registro de Notas por Curso</span>
                            </li>
                            <li>
                                <p>Esta opción permite agregar y modificar las notas de los estudiantes matriculados en un determinado curso</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        <li class="optList">
            <div class="opt">
                <a href="#">
                    <div style="background-image: url('Content/images/icons/import.png');">
                        <ul>
                            <li>
                                <span>Importar Notas</span>
                            </li>
                            <li>
                                <p>Esta opción permite importar notas de estudiantes por curso desde un archivo en formato CSV</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        
    </ul>
</li>
<!-- END notes -->
