<!-- BEGIN records -->
<li menu-option="records">
    <ul class="subMenuOpt">
        <li><a href="#" class="optTitle">Inicio/Registro de Actas</a></li>
        <li class="optList">
            <div class="opt">
                <a href="#">
                    <div style="background-image: url('Content/images/icons/archive_notes.png');">
                        <ul>
                            <li>
                                <span>ASasja kasjka jska</span>
                            </li>
                            <li>
                                <p>sjs hshjhj  j shdjshdjs hojhjjj jsj jj jj jhsj djhs sjhd sjh sdhsj djs  sjdhj shdjs sssshj   hsgd hsgd   hdgshd hsdghs</p>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        
    </ul>
</li>
<!-- END records -->
