@model FTMatricula.Models.UserModel
@{
    ViewBag.Title = "Home";
}

@section styles {
   
}

<section class="home_left">
    sss

</section>

<section class="home_right">
    xxx

</section>
  @*     
<div class="home_left">
    a
</div>

<div class="home_right">
    b
</div>*@


@section Scripts {
}
