@model FTMatricula.Models.UserModel
@{
    ViewBag.Title = "Home";
}

@section styles {

}


<div id="content_left">
    <!-- DESKTOPS STARTS -->
    <div class="desk">
        <ul class="menuOpt">

            <li class="item">
                <div class="itemContent maintenance">
                    <a href="/EIS/Companies/" class="itemTitle">Mantenimiento</a>
                    <div class="menuImage">
                        <a href="/EIS/Companies/">
                            <img src="~/Content/images/icons/gear.png" alt="Companies" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent student">
                    <a href="/EIS/Companies/" class="itemTitle">Estudiante</a>
                    <div class="menuImage">
                        <a href="/EIS/Companies/">
                            <img src="~/Content/images/icons/student.png" alt="Companies" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent programs">
                    <a href="/EIS/Companies/" class="itemTitle">Programas, Planes y Cursos</a>
                    <div class="menuImage">
                        <a href="/EIS/Companies/">
                            <img src="~/Content/images/icons/programs.png" alt="Companies" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent enrollment">
                    <a href="/EIS/Companies/" class="itemTitle">Matrícula</a>
                    <div class="menuImage">
                        <a href="/EIS/Companies/">
                            <img src="~/Content/images/icons/matricula.png" alt="Companies" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent notes">
                    <a href="/EIS/Companies/" class="itemTitle">Registro de Notas</a>
                    <div class="menuImage">
                        <a href="/EIS/Companies/">
                            <img src="~/Content/images/icons/reg_notes.png" alt="Companies" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent records">
                    <a href="/EIS/Companies/" class="itemTitle">Actas</a>
                    <div class="menuImage">
                        <a href="/EIS/Companies/">
                            <img src="~/Content/images/icons/archive.png" alt="Companies" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent certifications">
                    <a href="/EIS/Companies/" class="itemTitle">Certificaciones</a>
                    <div class="menuImage">
                        <a href="/EIS/Companies/">
                            <img src="~/Content/images/icons/degree.png" alt="Companies" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent auditing">
                    <a href="/EIS/Companies/" class="itemTitle">Auditoría</a>
                    <div class="menuImage">
                        <a href="/EIS/Companies/">
                            <img src="~/Content/images/icons/auditoria.png" alt="Companies" />
                        </a>
                    </div>
                </div>
            </li>


        </ul>
    </div>

    <!-- DESKTOPS ENDS -->
</div>

<div id="content_right" class="icon_selected">

    <div class="desk">
        <ul class="subMenuOpt">
            <li>ss</li>
        </ul>
    </div>

</div>


<div id="content_left2" class="hide">
    
</div>

@section Scripts {
}
