@model FTMatricula.Models.UserModel
@{
    ViewBag.Title = "Home";
}

@section styles {

}

<div id="content_left">
    <!-- DESKTOPS STARTS -->
    <div class="desk">
        <ul class="menuOpt">
            <li class="item">
                <div class="itemContent mant">
                    <a href="/EIS/Companies/" class="itemTitle">Mantenimiento</a>
                    <div class="menuImage">
                        <a href="/EIS/Companies/">
                            <img src="~/Content/images/icons/gear.png" alt="Companies" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent stud">
                    <a href="/EIS/Companies/" class="itemTitle">Mantenimiento</a>
                    <div class="menuImage">
                        <a href="/EIS/Companies/">
                            <img src="~/Assets/images/icons/icon_companies.png" alt="Companies" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent mant">
                    <a href="/EIS/Companies/" class="itemTitle">Mantenimiento</a>
                    <div class="menuImage">
                        <a href="/EIS/Companies/">
                            <img src="~/Assets/images/icons/icon_companies.png" alt="Companies" />
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="itemContent stud">
                    <a href="/EIS/Companies/" class="itemTitle">Mantenimiento</a>
                    <div class="menuImage">
                        <a href="/EIS/Companies/">
                            <img src="~/Assets/images/icons/icon_companies.png" alt="Companies" />
                        </a>
                    </div>
                </div>
            </li>



        </ul>
    </div>

    <!-- DESKTOPS ENDS -->
</div>

<div id="content_right">
</div>

@section Scripts {
}
