@model FTMatricula.Models.Course
 
<div class="editor-label">
    @Html.LabelFor(model => model.Name, @Resources.GetValue("COURSE_NAME"))
</div>
<div class="k-textbox">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>
