@model FTMatricula.Models.Classroom
 
<div class="editor-label">
    @Html.LabelFor(model => model.Code, @Resources.GetValue("CLASSROOM_CODE"))
</div>
<div class="k-textbox">
    @Html.EditorFor(model => model.Code)    
</div>
