@{
    ViewBag.Title = "Fail Whale";
}

<h2 class="title">Server Error</h2>
<br />
<div class="errorBox">

    <ul>
        
        <li class="errorTitle">
            <span>Oops!</span>
        </li>

        <li class="errorDetail" >
            <ul>
                <li>
                    <div id="error_content">
                        <div id="error_text">
                            <h2>Error <em>Page Not Found</em></h2>
                            <p>sorry, we moved a bunch of stuff…</p>
                        </div>
                    </div>
                </li>


            </ul>
        </li>

    </ul>
    <div style="width: 100px; margin: 20px auto;">
        @Html.ActionLink("Home", "index", "Home", routeValues: null, htmlAttributes: new { @class = "button home" })
    </div>
    <div class="clear"></div>
</div>
