@model FTMatricula.Models.Location
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml"; ;
    ViewBag.Title = "Mantenimiento Lugares Fisicos";
}

@section styles {

}
<div id="content">
    <h2>This is a Location View</h2>
    <!-- ADDRESS SECTION STARTS -->
    <div>
        <ul id="formHolder data2" class="blacked">
            <li>
                @(Html.Kendo().Grid<FTMatricula.Models.Location>()
              .Name("Grid")
              .Columns(columns =>
              {                                  
                  columns.Bound(m => m.Name).Title("Nombre Lugar");
                  columns.Bound(m => m.L).Title("Descripcion");
                  columns.Command(command =>
                  {
                      command.Edit().Text("Editar").UpdateText("Actualizar").CancelText("Cancelar");
                      command.Destroy().Text("Eliminar");
                  }).Width(180);
              })
             .Editable(editable =>
                      {
                          editable.Mode(GridEditMode.PopUp)
                              .Window(m =>
                              {
                                  m.Title("Editar Aula").Draggable();
                              });
                          editable.DisplayDeleteConfirmation("Esta seguro que desea eliminar el registro");
                      })
              .Sortable()
              .Filterable(filter =>
              {
                  filter.Enabled(true);
                  filter.Extra(false);
                  filter.Operators(oper =>
                  {
                      oper.ForString(ostr =>
                      {
                          ostr.IsEqualTo("Sean iguales a");
                          ostr.IsNotEqualTo("Sean diferentes de");
                          ostr.StartsWith("Empiezan con");
                          ostr.Contains("Contienen");
                          ostr.DoesNotContain("No Contienen");
                          ostr.EndsWith("Terminan con");
                      });
                  });
                  filter.Messages(msj =>
                  {
                      msj.Filter("Buscar");
                      msj.Clear("Limpiar");
                      msj.Info("Buscar valores que:");
                  });
              })
              .ToolBar(create => create.Create().Text("Nueva Aula"))
              .Pageable(pager => pager
                    .Input(true)
                    .Numeric(true)
                    .Info(true)
                    .PreviousNext(true)
                    .Refresh(true)
                            .PageSizes(true).
                            Messages(messages =>
                            {
                                messages.Empty("No hay Aulas registradas");
                                messages.Display("{0} - {1} de {2} registros");
                                messages.ItemsPerPage("Registros por pagina");
                                messages.Page("Pagina");
                                messages.Of("de {0}");
                                messages.First("Primera Pagina");
                                messages.Previous("Pagina Anterior");
                                messages.Next("Siguiente Pagina");
                                messages.Last("Ultima Pagina");
                                messages.Refresh("Actualizar");
                            }))
              .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("PagingClassrooms", "Classroom"))
                    .Create(create => create.Action("CreateClassrooms", "Classroom"))
                    .Update(update => update.Action("UpdateClassrooms", "Classroom"))
                    .Destroy(destroy => destroy.Action("DestroyClassrooms", "Classroom"))
                    .Model(model => model.Id(m => m.ClassroomID))
              )
        )
            </li>
        </ul>

        <div style="width: 700px; margin: 10px auto;">
            @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "button home", style = "margin-left:290px" })
        </div>
        <div class="clear"></div>
    </div>


</div>


@section Scripts {
}
